.App {
  text-align: center;
}

.App h1 {
  padding: 3%;
}

.App p {
  font-size: 150%;
  padding-right: 20%;
  padding-left: 20%;
}

.NavPhoto {
    width: 100px;
    height: 45px;
}

.App-link {
  color: #61dafb;
}